{% extends "admin_base.html" %}
{% block content %}
    {{objects}}
    {% for gen in object_list %}
    <li>
        <b><a class="admin_plants" href="{% url 'view_detail' gen.id %}"> {{gen.genus}} {{gen.type}}</a></b>
        <b><a class="admin_plants" href="{% url 'view_delete' gen.id %}">Удалить</a></b>
        <b><a class="admin_plants" href="{% url 'view_update' gen.id %}">Редактировать</a></b>
    </li>
    {% endfor %}
    <b><a class="admin_plants" href="{% url 'view_create' %}">Добавить</a></b>
{% endblock %}