{% if not user.is_authenticated %}
        {% if errors %}
            <p id="er">Сожалеем, вы неправильно ввели логин или пароль</p>
        {% endif %}
            <form class="navbar-form pull-right" method="post" action="/user/login/" >{% csrf_token %}
                <input class="span2" type="text" name="login" placeholder="Логин">
                <input class="span2" type="password"  name="password" placeholder="Пароль">
                <button  type="submit" class="btn">Войти</button>
                <a  class="btn" href="/user/registration/">Регистрация</a>
            </form>

{% else %}
        {% if user.is_superuser%}
            <p id="hel2"><i><font size="3"> Добро пожальвать член клуба</font>></i></p>
            <a href="{% url 'admin_main' %}">Редактировать каталог</a>
            <a href="/user/logout/">Выход</a>
        {% else %}
            <p id="hel"><font size="3"> Добро пожаловать  {{ user.username }}</font>></p>
            <a href="/user/logout/">Выход</a>
        {% endif %}
{% endif %}
